<!DOCTYPE html>
<html>
  <head>
    <title>Spotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">

</style>
  </head>

  <body>
    <header class="header">
      <div class="header-box">
        <div class="header-box-top">
          <a href="#"  class="header-box-top-vinyl">
            <i class="fas fa-compact-disc"></i>
          </a>
        </div>
        <div class="header-box-lowbox">
          <nav class = "header-box-lowbox-navs">
            <div class="header-box-lowbox-navs-home">
              <a href="#" class="home-button">
                <i class="fas fa-home"></i>
                <span>Home</span>
              </a>
            </div>
            <div class="header-box-lowbox-navs-profile">
              <a href="#" class="profile-button">
                <i class="fas fa-id-card"></i>
                <span>My profile</span>
              </a>
            </div>
            <div class="header-box-lowbox-navs-more">
              <a href="#" class="buttons">
                <i class="far fa-envelope"></i>
                <span>DM</span>
              </a>
            </div>
          </nav>
        </div>
        <div class="header-box-review">
          <a href="#" class="header-box-review-button">
            <i class="fab fa-apple"></i>
            <span>Review</span>
          </a>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
