<!DOCTYPE html>
<html>
  <head>
    <title>Spotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "topheader">
      <div class = "topheader-navbox">
        <div class = "topheader-navbox-inner">
          <div class = "topheader-navbox-inner-toplogo">
            <div class = "topheader-navbox-inner-toplogo-vinyl">
              <i class="fas fa-compact-disc"></i>
            </div>
          </div>
            <nav class = "topheader-navbox-inner-lists-navs">
            </nav>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
